{% extends 'website/base.html' %}
{% block content %}
<main>
    <!-- Basic Patient Information -->
    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-10 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                {% if patient_image %}
                                <img class="img-fluid my-5 img-thumbnail" src="{{ patient_image.image.url }}"
                                    alt="Patient Image" style="width: 100px;" />
                                {% endif %}
                                <p style="color: black; margin-top: -10%;">Patient - {{patient_detail.first_name}}
                                    {{patient_detail.last_name}}
                                </p>
                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Basic Patient Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-4 mb-3">
                                            <h6> User Name</h6>
                                            <p class="text-muted">{{patient_detail.user}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>First Name</h6>
                                            <p class="text-muted">{{patient_detail.first_name}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Last Name</h6>
                                            <p class="text-muted">{{patient_detail.last_name}}</p>
                                        </div>

                                    </div>

                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-4 mb-3">
                                            <h6>Date of Birth</h6>
                                            <p class="text-muted">{{patient_detail.date_of_birth}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Gender</h6>
                                            <p class="text-muted">{{patient_detail.gender}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Nrc</h6>
                                            <p class="text-muted">{{patient_detail.nrc}}</p>
                                        </div>

                                    </div>


                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-4 mb-3">
                                            <h6>Country</h6>
                                            <p class="text-muted">{{patient_detail.countries}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Province</h6>
                                            <p class="text-muted">{{patient_detail.provinces}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Town</h6>
                                            <p class="text-muted">{{patient_detail.towns}}</p>
                                        </div>


                                    </div>

                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-4 mb-3">
                                            <h6>Address</h6>
                                            <p class="text-muted">{{patient_detail.address}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{patient_detail.email}}</p>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">{{patient_detail.phone_number}}</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}