{% extends 'website/base.html' %}
{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{user.username}} - Dashboard</li>
        </ol>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Patient Record
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Gender</th>
                            <th scope="col">NRC</th>
                            <th scope="col">Patient Type</th>
                            <th scope="col">Diagnosis</th>
                            <th scope="col">Hospital</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for patient in patient_dashboard %}
                        <tr>
                            <td><a
                                    href="{% url 'patient-detail' auto_id=patient.auto_id %}">{{ patient.first_name }}</a>
                            </td>
                            <td>{{ patient.last_name }}</td>
                            <td>{{ patient.date_of_birth }}</td>
                            <td>{{ patient.gender }}</td>
                            <td>{{ patient.nrc }}</td>
                            <td>{{ patient.patient_type }}</td>
                            <td>{{ patient.diagnosis }}</td>
                            <td>{{ patient.hospitals }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock%}