{% extends 'website/base.html' %}
{% block content %}

<!-- Appointment  Information -->
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                            <h5 style="color: black;">{{ appointment.patient}}</h5>
                            <p style="color: black;">Patient</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Appointment Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-3 mb-3">
                                        <h6> Patient</h6>
                                        <p class="text-muted">{{ appointment.patient }}</p>
                                    </div>
                                    <div class="col-3 mb-3">
                                        <h6>Nurse</h6>
                                        <p class="text-muted">{{ appointment.nurse }}</p>
                                    </div>
                                    <div class="col-3 mb-3">
                                        <h6>Doctor</h6>
                                        <p class="text-muted">{{ appointment.doctor }}</p>
                                    </div>

                                    <div class="col-3 mb-3">
                                        <h6>Appointment Date</h6>
                                        <p class="text-muted">{{ appointment.appointment_date}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>

{% endblock %}